:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Helios_Extended;
	src: url(Helios_Extended.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Helios_Extended;
	src: url(heliosext_bold.otf);
	font-weight: 900;
	font-style: normal;
}


a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}


.custom-node {
	border-radius: 5px;
	border: 2px solid #ccc;
	padding: 12px;
	font-family: Helios_Extended;
	font-size: 12px;
	font-weight: normal;
	background-color: #fff;
	transition: border-color 0.2s, box-shadow 0.1s ease;
}
.custom-node:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}



.action-button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 8px 16px;
	font-size: 36px;
	font-weight: 900;
	font-family: Helios_Extended;
	/* background-color: #06d471; */
	background-image: linear-gradient(45deg, #06d471, #00746e);
	background-size: 100%;
	color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s, background-size 0.4s;
}
.action-button:hover {
	border-color: #fff;
	background-size: 300%
}

.handle-hitbox {
	height: 30px;
    width: 20px;
    background-color: rgba(255, 0, 0, 0);
    /* border-radius: 50%; */
	/* transform: translate(-55%, -40%); */
}

.species-text {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-weight: 600;
	font-size: 24px;

	color-scheme: light dark;
	color: #1a1a1a;
	background-color: #eee;


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	position: absolute;
	top: 0px;
	left: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;


	border-radius: 8px;
	border: none;
	padding: 0.5em 0em;

	cursor: pointer;

}


.drawer {
	margin: 0;
	padding: 20px 20px;
}

.drawer-reaction-diagram{
	/* background-color: rgba(0, 0, 0, 0.1); */
	padding: 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%
	/* gap: 10px; */
}

.species-container {
	color: rgba(0, 0, 0, 0.87);

	border-radius: 8px;
	border: 0px solid transparent;
	padding: 0.1em 0.5em;

	/* width: 100px; */

	transition: border-color 0.25s;
}

.species-container-header {
	font-family: Helios_Extended;
	font-size: 1.5em;
	margin: 0em 0em;
	padding: 0em 0em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.species-params {
	font-weight: 500;
	margin: 5px 0px;
	padding: 0px 3px;
	color: rgba(0, 0, 0, 0.5);

}


.species-param-input {
	font-weight: inherit;
	font-family: inherit;
	padding: 0em 0.2em;
	font-size: 1em;

	margin: 0px 5px;
	border: 2.5px transparent solid;
	outline: 0px;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	color: rgba(0, 0, 0, 0.5);

	background-color: rgba(0, 0, 0, 0);

	field-sizing: content;
    min-width: 30px;

	transition: border-color 0.2s;
}

.species-param-input:focus {
	border-color: #747bff;
}

.rate-editor {
	color: #1a1a1a;
	padding: 0px 0px;
}

.autofill-species-box {
	font-family: Helios_Extended;
	font-weight: normal;
	font-size: 12px;
	margin: 0px 0px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	width: fit-content;

	cursor: pointer;

	border-radius: 8px;
	border: 2px solid transparent;
	padding: 4px 4px;
	background-color: #1a1a1a;
	
	color: #000;
	cursor: pointer;
	transition: border-color 0.25s, background-size 0.4s;
}

.autofill-species-box:hover {
	border-color: #747bff;
}


.drawer-text {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-weight: 600;
	font-size: 24px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	cursor: pointer;
}




.arrow-container {
	/* width: 40px; */
	/* height: 200px; */
	position: absolute;
	top: 185px;
	bottom: 185px;
	pointer-events: none;
	

}

.down-arrow {
	width: 100%;
	height: 100%;
	display: block;
}


math-field {
	--smart-fence-color: red;
}




@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
