/* Flexbox CheatSheet https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.DrawerSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 10px; */
	/* margin-bottom: 20px; */

	font-weight: 500;
	padding: 0px;
    margin: 0px;
	/* line-height: 0px; */
    /* background-color: rgba(255, 0, 0, 1); */
    

	cursor: default;
}

.DrawerRow {
	display: flex;
    width: 100%;
    /* background-color: rgba(0, 255, 0, 0.1); */
    /* align-items: stretch; */
}

.DrawerHalf {
	/* background-color: rgba(255, 0, 0, 0.1); */
    flex: 1;
    padding: 0 5px;
}

